.hidden{
    display: none;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
a {
    text-decoration: none;
    }
    
    ul,
    ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;

    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
      button{
        cursor: pointer;
      }
  
    /* common */


.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
  
    }
}
@media screen and (min-width: 1158px){
   .container{
    max-width: 1158px;
   }
    
}

    /* header */
    .header-block{

        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-menu,
    .address{
        display: none;
    }
    .logo{
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
    }
    .header-logo{
        padding-top: 16px;
        padding-bottom: 16px;
        display: block;
      
    }
    .span{
        color: #2E2F42;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
    }
    .burger-btn{
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .burger-icon{
        display: block;
        fill: #2f2f37;
    }
    @media screen and (min-width: 768px){
        .burger-btn{
            display: none;
        }
        .nav-menu{
            display: flex;
            gap: 40px;
        }
        .address{
            font-style: normal;
            display: block;
          
        }
        .nav-block{
            display: flex;
            align-items: center;
        }
        .header-logo{
            padding-top: 24px;
            padding-bottom: 24px;
            margin-right: 120px;
            
          
        }
        .contact-link{
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2E2F42;
        
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
        }
        .contact-link.current{
            position: relative;
        
        }
        .contact-link.current::after{
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: -1px;
            border-radius: 2px;
            background-color: #404bbf;
        
        
        }
        .address-list{
            display: flex;
       flex-direction: column;
             gap: 12px;
         
         }
         .contact-address-link{
            display: block;
          
                font-weight: 500;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color: #434455;
                align-items: center;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        .contact-link:hover,
        .contact-link.current,
         .contact-link:focus{
        color: #404bbf;}

}
@media screen and (min-width: 1158px){
    .header-logo{
        
        margin-right: 76px;
    }
    .address-list{
        flex-direction: row;
     align-items: center;
         gap: 40px;
     
     }
     .contact-address-link{
        padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }



}

/* Mobile menu */

.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


  
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
}
.mobile-menu-nav{
    margin-bottom: auto;
}

@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

/* FIRST BLOCK */


.first-block{
    background-color: #2E2F42;
    text-align: center;
    margin: auto;
    line-height: 1.1;
    padding: 72px 0;   
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background-hero/people-office.jpg);
    max-width: 320px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.main-text{

    font-family: "Roboto", sans-serif;

    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 
    
}
.buttom-main-link{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
background-color: #4d5ae5;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;

min-width: 169px;
height: 56px;
border: none;
display: block;
border-radius: 4px;
margin-top: 48px;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);




}
.buttom-main-link:hover,
.buttom-main-link:focus{
    background-color: #404bbf;
    color: #F4F4FD;
}
@media screen and (min-width: 768px){
    .first-block{
        max-width: 768px; 
        background-color: #2E2F42;
        text-align: center;
        line-height: 1.07;
        padding: 112px 0;   
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background-hero/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       
    }

}
@media screen and (min-width: 1158px){
    .first-block{
        max-width: 1440px; 
        background-color: #2E2F42;
        text-align: center;
        line-height: 1.07;
        padding: 188px 0;   
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background-hero/people-office.jpg);
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       
    }
       /* NEED TO CHECK */
    
    .main-text{
    
        font-family: "Roboto", sans-serif;
    
        font-size: 56px;
        letter-spacing: 0.02em;
        color: #fff;
        max-width: 496px; 
        text-align: center;
        margin-left: auto;
        margin-right: auto;
     
        
    }
    .buttom-main-link{
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    border-radius: 4px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
    
    }
    .buttom-main-link:hover,
    .buttom-main-link:focus{
        background-color: #404bbf;
        color: #F4F4FD;
    }
}



/* SECOND BLOCK */



.content-list{
    width: calc((100% - 120px) / 4);
    display: flex;
    flex-direction: column;
   
    
}
.svg-div{
    display: none;
}

.contentblock{
    text-align: center;
    background-color: #FFFFFF;
display: flex;
flex-direction: column;
gap: 72px;
padding-top: 96px;
padding-bottom: 96px;

}

.content-item{
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-size: 36px;
    color: #2E2F42;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    text-align: center;
    
}
.content-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    text-align: left;
    width: 288px;
    
}
@media screen and (min-width: 768px){
    .contentblock{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
    .content-list{
        width: calc((100% - 24px) / 2);
    
    }
    .content-item{
        text-align: left;
    }
    .content-text{
        text-align: left;
        width: 264px;
        width: 356px;


    }
   

 }
@media screen and (min-width: 1158px){
    .content-block{
        gap: 24px;
 
    }
    .contentblock{
        text-align: center;
        background-color: #FFFFFF;
    display: flex;
    gap: 24px;
    flex-direction: row;
    width: 1128px;
    padding-top: 120px;
padding-bottom: 96px;
    
   
    
    }
    .svg-div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
    .content-list{
        width: calc((100% - 72px) / 4)
    
    }
    
   
     .content-item{
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-size: 20px;
        color: #2E2F42;
        background-color: #FFFFFF;
        margin-bottom: 8px;
        text-align: left;
        
    }
    
    .content-text{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    
        text-align: left;
        width: 264px;
        
    }
 }


/* OUR TEAM BLOCK */

.our-team-block{
    background-color: #F4F4FD;
      text-align: center;
      padding: 120px 0;
  }
  .content-item-ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px; 

}
  .team-menu{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.team-item_first{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }
 .img-thirdblock{
    background-color: #FFFFFF;
    
}
.img-thirdblock:hover{
    transform: translateY(0%);
}
.keriv-pos{
    padding: 32px 0
    }
    .content-item-team{
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-size: 20px;
        margin-bottom: 8px;
         
        
    }
    .our-team{
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #434455;
        font-size: 16px;
        margin-bottom: 8px;
         
        
    }
    .icon-list{
        display: flex;
        gap: 24px;
        flex-shrink: 0;
        align-self: flex-end;
        margin-left: 16px;
        margin-top: 8px;
        margin-right: 16px;
       
        justify-content: center;
    }
    .icon-link-team{
        display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
          background-color: #4d5ae5;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
        }
        .icon-link-team:hover,
.icon-link-team:focus{
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
    .team-menu{
        flex-wrap: wrap;
        flex-direction: row;
        
   
    }
}
@media screen and (min-width: 1158px){
    .team-menu{
        flex-wrap: nowrap;
    }
   
   
}